.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  padding-top: 50px;
}

.formContainer {
  padding: 20px;
  width: 50%;
  box-shadow: 1px 4px 5px #eee;
  border-radius: 10px;
  background: #fff;
}

.label {
  display: block;
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.input {
  display: block;
  padding: 10px;
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 80%;
}

body {
  background-image: url("https://images.pexels.com/photos/239419/pexels-photo-239419.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}

button {
  background-color: #21295c;
  padding: 10px 10px;
  border-radius: 5px;
  margin: 5px;
  border: 0;
  color: white;
  font-size: 16px;
}
